<div class="banner">
  <div class="container">
    <div class="header">
      <h2>Crypto Checker</h2>
      <h6>Check all the crypto currency latest update</h6>
    </div>
    <div class="sub-header">
      <marquee
        behavior="scroll"
        onmouseover="stop()"
        onmouseout="start()"
        loop="infinite"
        direction="left"
      >
        <div class="row">
          <ng-container *ngFor="let row of bannerData">
            <div class="col-1">
              <div class="card">
                <img [src]="row.image" alt="" width="100" class="img-fluid" />
                <div class="card-body">
                  <h5 class="card-title">
                    {{ row.symbol | uppercase
                    }}<span class="text-danger"
                      >{{ row.market_cap_change_percentage_24h }}%</span
                    >
                    <p class="card-text">
                      {{ row.current_price | currency: "LKR " }}
                    </p>
                  </h5>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </marquee>
    </div>
  </div>
</div>
